[submodule "packages/leaflet-draw"]
	path = packages/leaflet-draw
	url = git@github.com:bdunnette/meteor-leaflet-draw.git
[submodule "packages/leaflet-label"]
	path = packages/leaflet-label
	url = git@github.com:bdunnette/meteor-leaflet-label.git
